@model IEnumerable<QTec.Business.ViewModels.EmployeeViewModel>

@{
    ViewBag.Title = "title";
}

<h2>title</h2>


@foreach (var fullName in Model.Select(employee => employee.FirstName + ' ' + employee.LastName))
{
    <span>@fullName</span>
    <br/>
}
